* {
  margin: 0;
  padding: 0;
}

input {
  display: block;
  margin: 0 auto;
}

input.non-mobile {
  display: none;
}

video.non-mobile {
  transform: rotateY(180deg);
}

canvas {
  display: none;
}

button {
  display: block;
  margin-top: 20px;
}