<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/style.css">
  <script src="/public/main.js" defer></script>
  <title>Home</title>
</head>
<body>
  <video width="100%" autoplay playsinline></video>
  <canvas></canvas>
  <div class="controls">
    <input type="range" min="1" max="5" value="2" class="hidden">
    <button class="switch">Switch</button>
    <button class="submit">Submit</button>
  </div>
  <p></p>
</body>
</html>