<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/style.css">
  <script src="/public/main.js" defer></script>
  <title>Home</title>
</head>
<body>
  <div class="container">
    <video width="100%" autoplay playsinline></video>
    <canvas></canvas>
    <div class="controls">
      <input type="range" min="1" max="6" value="1" class="hidden">
      <button class="switch hidden">Switch</button>
      <button class="submit hidden">Submit</button>
    </div>
    <p></p>
  </div>
</body>
</html>